:root {
  --light-color: #ddd;
}

html,
body {
  min-height: 100%;
}

body,
#app,
.app,
main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.app-wrapper {
  flex: 1;
  display: flex;
  margin-top: 57px;
  justify-content: flex-end;
}

.aside:not(.collapse) + .app-content {
  max-width: 80%;
}

.app-content {
  flex: 1;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/content-fon.jpg);
  background-position: center;
  background-size: 100% 100%;
  transition: .5s;
}

.w100.app-content {
  width: 100%;
  max-width: 100%;
}

.footer-item span,
.footer-item span a {
  color: #fff;
}

.dnone {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page.page-menu,
.page.page-description,
.page.page-scena {
  flex: 1;
  padding: 3%;
}

.max {
  position: relative;
}

main {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

aside {
  position: fixed;
  top: 57px;
  bottom: 0;
  left: 0;
  max-width: 20%;
  width: 100%;
  flex: 1;
  transition: all 0.5s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-image: url(../images/content-fon.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

aside.collapse + .app-content {
  max-width: 100%;
}

.aside-wrapper {
  background: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 40px;
}

aside.collapse .aside-wrapper {
  animation: opacity_hide 0.2s ease-in-out forwards;
}

aside:not(.collapse) .aside-wrapper {
  animation: opacity_show 0.3s ease-in-out forwards;
}

aside .switch-sidebar {
  color: #000;
  z-index: 4;
}

@keyframes opacity_hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes opacity_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

aside.collapse {
  max-width: 0%;
}

.sidebar-link-btn {
  color: #000;
  letter-spacing: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  background-color: #b68f51;
  background-image: radial-gradient(circle at 50% 0, #dfcb97, rgba(255, 255, 255, 0));
  border-bottom: 4px solid #6d2f00;
  width: 100%;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  border: 1px #c6b378;
  border-bottom: 4px solid #6d2f00;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.switch-sidebar {
  position: absolute;
  top: 10px;
  right: -30px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.switch-sidebar i {
  cursor: pointer;
}

.aside-mayak {
  z-index: 5000;
  background-image: url(../images/mayak.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 280px;
  height: 160px;
  display: inline-block;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: -1%;
  right: auto;
  transition: .3s;
  outline: none;
  border: none;
  cursor: pointer;
}

/* drop-menu */

.drop-menu-wrapper {
  display: flex;
  position: fixed;
  height: 57px;
  width: 100%;
  z-index: 4;
  background: #020019;
}

.drop-menu-img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px 5px 10px;
  max-width: fit-content;
}

.drop-menu-wrapper .drop-switch {
  flex: 1;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.drop-menu-img img {
  width: 200px;
  display: block;
}

.drop-menu-wrapper .drop-switch .switch-btn {
  color: #fff;
}

.switch-btn {
  color: #a9a;
  font-size: 22px;
  align-self: center;
}

.overlay {
  display: none;
  background: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.drop-menu {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: -210px;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 4;
  background: #0e1f31;
}

.max1140 {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.aic {
  display: flex;
  align-items: center;
}

.drop-menu.drop {
  top: 55px;
}

.drop-menu-btn {
  font-size: 16px;
  color: #fef6cc;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom-color: #fef6cc;
  text-transform: uppercase;
}

.drop-menu-btn-descktop-block {
  flex: 1;
  height: 57px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.drop-menu-btn-descktop {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.drop-menu-btn-descktop.hits {
  color: #000;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: #c7b489;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0), #ae986e);
  border-radius: 5px;
  width: 100%;
  max-width: 160px;
  padding: 7px 25px;
  font-size: 16px;
  line-height: 20px;
  transition: all .2s;
}

aside.collapse .switch-btn {
  color: #9c9c9c;
  font-size: 30px;
}

.drop-menu-btn.hits {
  background-color: #c7b489;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0), #ae986e);
  color: #000;
}

/* ==================================================== */

footer {
  background: #000;
}


.aside-text-1 {
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.aside-text-2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.aside-text-3 {
  color: #0071c2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f5eedc;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
}

aside:not(.collapse) .aside-mayak {
  animation: mayak_show 0.2s forwards;
}

aside .aside-mayak {
  animation: mayak_hide 0.3s forwards;
}

@keyframes mayak_hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes mayak_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.aside-wrapper-2 {
  background: #f5eedc;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
}

.close-sidebar-43 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-image: url(../images/43.png);
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
  transition: .2s;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #f5eedc;
}

.close-sidebar-43:hover {
  transform: scale(0.9);
}

.aside-card-img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
}

.aside-text-4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4em;
}

.aside-ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: square;
}

.aside-ul .aside-text-4 {
  margin-bottom: 4px
}

.aside-text-5 {
  color: #ca0607;
}





.media {
  width: 100%;
  max-width: 550px;
  background-color: #013657;
  border-bottom: 3px solid #041731;
  border-radius: 24px;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}

.media-title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.media-header-side {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 30px;
  max-width: 70px;
}

.media-header-center {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
  min-width: 150px;
  display: flex;
  align-items: center;
}

.media-header-center-text {
  color: #fff;
  text-align: center;
  margin-bottom: 3%;
  font-size: 44px;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.media-header {
  display: flex;
  margin-bottom: 20px;
}

.media-scene {
  background-color: #fff;
  border: 1px solid #0094ce;
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 3% 5% 5%;
  box-shadow: 0 5px 6px 4px rgba(0, 0, 0, .2);
  max-width: 495px;
  margin-left: auto;
  margin-right: auto;
}

.img-box {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.img-box-main-img {
  width: 100%;
}

.img-box-save {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #2288af;
  border-radius: 50px;
  position: absolute;
  top: 68%;
  left: auto;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box-save i {
  font-size: 24px;
  color: black;
}

.img-box-save:hover {
  background-color: #daf3fc;
}

.media-title {
  color: #192024;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 3%;
  font-size: 28px;
  font-weight: 400;
  line-height: 1em;
}

.recommendations {
  color: #000;
  text-align: center;
  background-color: #e3ecfa;
  border-radius: 24px;
  margin-bottom: 3%;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.4em;
}

.dop-link-btn-new {
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: #8a0404;
  border-bottom: 1px solid #8a0404;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .37);
  color: #fff;
  padding: 9px 15px;
  font-size: 24px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 5px 5px rgba(189, 3, 3, .73), 2px 2px 8px 5px rgba(0, 0, 0, .23);
}

.under-text {
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  font-size: 24px;
  margin-bottom: 20px;
}

/*player*/

.controller {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffffbb;
  height: 80px;
  width: 80px;
}

.controller i {
  font-size: 90px;
}

.controller:hover .controller-item {
  transition: .2s;
  transform: scale(.95);
}

.scale-wrapper {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.scale-text {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 40px;
  max-width: 60px;
  font-size: 16px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #fff;
}

.scale-center {
  flex: 1;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-scale {
  position: relative;
  background-color: #000;
  width: 100%;
  cursor: pointer;
  box-shadow: inset 1px 3px 3px -3px rgb(199 218 244);
}

.inner-scale {
  position: relative;
  background-color: #c8dbf5;
  height: 15px;
  width: 33%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
}

.fill-scale-info-block {
  position: absolute;
}

.scale-info-block {
  position: absolute;
  background: #08074b;
  border: 1px solid #d7dbdc;
  height: 18px;
  width: 40px;
  font-size: 12px;
  color: #d7dbdc;
  top: -25px;
  left: 0;
  z-index: 2;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scale-info-triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #d7dbdc;
  position: absolute;
  top: -11px;
  left: 15px;
}

.doprodazha {
  background-color: #013657;
  border-bottom: 3px solid #1d0d01;
  border-radius: 30px;
  width: 90%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 3% 3%;
  position: relative;
  box-shadow: inset 5px 5px 7px #025283, 3px 5px 6px 2px #004e7e;
}

.kol {
  background-image: url(../images/kol.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -25px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.dop-text-new {
  position: relative;
}

.player-5-vue {
  border: 1px dashed #c2c2c2;
  border-radius: 24px;
  padding: 3% 3% 4%;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .11);
}

.media-header-center-text {
  font-size: 38px;
}


.recommendations-dynamic {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.4em;
}

.media-pdf {
  background-color: #161616;
  border: 2px solid #fff;
  border-width: 1px 2px 3px;
  border-radius: 24px;
  width: 90%;
  max-width: 520px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 3% 3%;
}

.sloi {
  margin-bottom: 3%;
}

.image-pdf {
  border: 1px solid #c09d44;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 3px 4px 5px rgba(255, 255, 255, .56);
}

.link-pdf {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  background-image: linear-gradient(58deg, #01640e, #03af4e 59%, #015813);
  border-bottom: 1px solid #00ff2a;
  border-radius: 10px;
  width: 100%;
  max-width: 330px;
  margin: 2% auto 10px;
  font-size: 24px;
  line-height: 1.8em;
  display: block;
  padding: 9px 15px;
  box-shadow: inset -1px -3px 3px rgba(0, 0, 0, .2), inset 0 3px 5px rgba(0, 0, 0, .2), inset 0 -1px 1px #21ff28, inset 0 3px 2px #1fff87, 2px 3px 6px rgba(0, 0, 0, .2);
}

.button-grid-block {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}

.button-grid {
  padding-left: 5px;
  padding-right: 5px;
}

._g1 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

._g2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

._g3 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

._g4 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

._g5 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

._g6 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

._g7 {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

.button-grid-block .button-green {
  margin-bottom: 5px;
  letter-spacing: 0;
  margin-top: 1%;
  font-size: 20px;
}

.main-pdf.media-pdf {
  background: #fff;
}

.main-pdf.media-pdf img.image-pdf {
  max-width: 250px;
}

.link-seans-btn-text-h2{
  color: #001a8f;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
}
.aside-img{
  width: 80%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (hover: hover) {
  .sidebar-link-btn:hover {
    background-color: #b68c62;
    background-image: radial-gradient(circle at 50% 100%, #dfcb97, rgba(255, 255, 255, 0));
  }

  .drop-menu-btn-descktop:not(.hits):hover {
    color: #f8c740;
    text-decoration: underline;
  }

  .drop-menu-btn-descktop.hits:hover {
    background-color: #f5e5c8;
  }

  .aside-mayak:hover {
    width: 280px;
    left: 0%;
  }

  button.button-menu:hover {
    background-color: #001f8f;
  }

  .link-seans-btn-dynamic:hover {
    background-image: none;
    color: #000;
    background-color: #f5e5c8;
  }

  .dop-link-btn:hover {
    transform: translateY(-1px);
    filter: brightness(140%);
  }

  .bottom-link-btn:hover {
    box-shadow: -2px -1px 2px rgba(4, 80, 151, .2);
  }

  .button-back:hover {
    background-color: #f40;
  }

  .button-green:hover {
    background-image: linear-gradient(225deg, #006b1d, #03cc61 59%, #026322);
    box-shadow: inset -1px -3px 3px rgba(0, 0, 0, .2), inset 0 -1px 1px #21ff3e, inset 0 3px 2px #1fff2e;
  }

  .dop-link-btn-new:hover {
    box-shadow: none;
    background-color: #920101;
    border-bottom-color: #b30606;
  }

  .link-pdf:hover {
    background-image: linear-gradient(225deg, #006b1d, #03cc61 59%, #026322);
    box-shadow: inset -1px -3px 3px rgba(0, 0, 0, .2), inset 0 -1px 1px #21ff3e, inset 0 3px 2px #1fff2e;
  }
}
